@import "_global";
@import "_variables";

.landing-section {
  height: 100vh;
  width: auto;
  background-image: url("../Media/colorful-holographic-gradient-background-design-vector.png");
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  

  .glass-container {
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    height: 85vh;
    width: 90vw;
    z-index: 3;
    position: relative;
    overflow: hidden;


   .bar{
       margin: auto;
       margin-top: 1.5rem;
       width: 80vw;
       display: flex;
       align-items: center;
       justify-content: space-between;
    .humburger{
        height: 3px;
        width: 25px;
        background-color: white;
        margin-bottom: .25rem;
    }

    .title{
        font-weight:normal ;
        font-size: 1.5rem;
        span{
            color: $logoColor;
        }
    }

   }


  }

  .blob{
      position: absolute;
      height: 100px;
      width: auto;
      right: -200px;
      top: -150px;
  }



}

main{
    margin-left: 6rem;
    margin-top: 4rem;
    

    .header-title{
        font-weight: 600;
        line-height: 3rem;
        visibility: hidden;
    }

    .sub-title{
        font-weight: 300;
        color: $secondary_color;
        font-size: 1.3rem;
        line-height: 2rem;
        visibility: hidden;

    }

    .intro{
        margin-top: 1rem;
        font-weight: 300;
        color: $secondary_color;
        visibility: hidden;


    }

    .btns{
        margin-top: 1.5rem;
        visibility: hidden;

        .btn{
            padding: .4rem 1.5rem;
            margin-right: 1rem;
        }
        .btn-prim{
            background-image: linear-gradient(90deg,#BBEEED,#FDF2D6);
            border-radius: 20px;
        }
        .btn-sec{
            border: 2px solid #B19FD5;
            border-radius: 20px;
        }
    }


    
}

.side-content{
    margin-top: 0;

    .glass-card{
        background: rgba(255, 255, 255, 0.329);
        border: 1px white ;
        backdrop-filter: blur( 9px );
        -webkit-backdrop-filter: blur( 9px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        height: 23rem;
        width: 18rem;
        transform: rotate(17deg);
        position: absolute;
        top: 70px;
        border-radius: 35px;
        z-index: 5;
        right: 150px;
        visibility: hidden;

        display: flex;
        flex-direction: column;
        .card-title{
            margin: auto;
            margin-top: 1rem;
            margin-bottom: 11rem;
            color: white;
            font-weight: bold;
            font-size: 1.5rem;
            span{
                font-weight: normal;
            }
        }

        .card-number{
            color: white;
            margin: 0 auto .5rem auto;
        }

        .card-owner{
            color: white;
            font-size: 1.2rem;
            margin-left: 1rem;
            margin-bottom: .5rem;
        }

        .card-date{
            color: white;
            font-size: 1.2rem;
            margin-left: 1rem;
        }
    }

    .blob-2{
        z-index: 4;
        position: absolute;
        top: 50px;
        right: -200px;
    }
}



section{
    height: 100vh;
    background-color: #B19FD5;
}